<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment Manager</title>
</head>
<h1>My Assignments</h1>
<body>
   {% if user.is_authenticated %}
    Welcome, {{ user.username }}!
{% else %}
    Welcome, Guest!
{% endif %}
{% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sign Out">
    </form>
{% endif %}
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Assignment Manager</a>
        <a href="details/">Details</a>
        <a href="collaboration/">Collaboration</a>
    </nav>
<h2>List of Assignments:</h2>
{% for assignment in assignments %}
    <hr>
        <h3>
        {% if assignment.completed %}
            <s>{{ assignment.course }}</s>
            <s>{{ assignment.title }}</s>
        {% else %}
            {{ assignment.course }}
            {{ assignment.title }}
        {% endif %}
        </h3>
{% endfor %}
<hr>

<form method="post" action="{% url 'create_assignment' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Assignment</button>
</form>
</body>
</html>
